<div class="container rounded main-container my-4 p-4">
    <div class="row fw-bold">
        <nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/home">Home</a></li>
                &nbsp;<li class="mx-2">/</li>&nbsp;
                <li class="breadcrumb-item"><a href="/story/{{encodeUrl storyId}}">{{storyName}}</a>
                </li>
                &nbsp;<li class="mx-2">/</li>&nbsp;
                <li class="breadcrumb-item" aria-current="page">Chương {{plus chapterIndex 1}}</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="text-center">
            <a href="/story/{{encodeUrl storyId}}" class="chapter-title fw-bold fs-3">{{toLoud
                storyName}}</a>
        </div>
        <div class="text-center mt-1" id="chapter-title">
            <img src="/assets/loading.gif" class="load-img" />
        </div>
        <div class="d-flex align-items-center justify-content-center mt-3">
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                {{#each chapterContents}}
                <input type="radio" class="btn-check" {{#unless chapterContent}}disabled{{/unless}} name="serverRadio"
                    id="btnradio{{serverId}}" value="{{serverId}}" autocomplete="off"
                    onchange="loadContent(this.value)">
                <label class="btn btn-success server-chapter-btn" for="btnradio{{serverId}}">{{serverName}}</label>
                {{/each}}
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-center mt-4">
            <a type="button"
                class="text-center next-pre-button pre-chapter-btn {{#ifEqual chapterIndex 0}}d-none{{/ifEqual}}"
                href="/story/{{encodeUrl storyId}}/chapter/{{plus chapterIndex -1}}">
                <i class="fa-solid fa-less-than"></i>
                Chương trước
            </a>
            <a type="button"
                class="text-center next-pre-button next-chapter-btn {{#ifEqual chapterIndex (plus chapterCount -1)}}d-none{{/ifEqual}}"
                href="/story/{{encodeUrl storyId}}/chapter/{{plus chapterIndex 1}}">
                Chương tiếp
                <i class="fa-solid fa-greater-than"></i>
            </a>
        </div>
    </div>
</div>
<div class="container mt-3">
    <div class="row">
        <div class="col-lg-1 col-md-2 col-sm-3 p-relative">
            <button class="option-button"
                onclick="togglePanel('#chapters-list-panel'); setChapterPanel({{chapterIndex}});">
                <i class="fa-solid fa-list fs-5"></i>
            </button>
            <button class="option-button" onclick="togglePanel('#text-format-panel')">
                <i class="fa-solid fa-font fs-5"></i>
            </button>
            <div id="chapters-list-panel" style="display: none">
                {{#loop 1 chapterCount}}
                <a class="chapter-item truncate text-center {{#ifEqual this (plus ../chapterIndex 1)}}active-chapter{{/ifEqual}}"
                    id="chapter-index-{{plus this -1}}"
                    href="/story/{{encodeUrl ../storyId}}/chapter/{{plus this -1}}">Chương
                    {{this}}</a>
                {{/loop}}
            </div>
            <div id="text-format-panel" style="display: none">
                <div class="button-container">
                    <span class="text-container">Font chữ</span>
                    <div class="d-inline-block" style="width: 26rem">
                        <div class="d-flex justify-content-between">
                            <button class="text-format-button font-family-btn" data-font="Times New Roman"
                                onclick="changeFont('Times New Roman', this)">Times</button>
                            <button class="text-format-button font-family-btn" data-font="Arial"
                                onclick="changeFont('Arial', this)">Arial</button>
                            <button class="text-format-button font-family-btn" data-font="Courier New"
                                onclick="changeFont('Courier New', this)">Courier New</button>
                        </div>
                    </div>
                </div>
                <div class="button-container mt-2">
                    <span class="text-container">Màu chữ</span>
                    <div class="d-inline-block" style="width: 26rem">
                        <div class="d-flex justify-content-between">
                            <button class="color-text-format-button color-btn" style="background-color: #fefefe"
                                onclick="changeColor('#fefefe', this)"></button>
                            <button class="color-text-format-button color-btn" style="background-color: #202020"
                                onclick="changeColor('#202020', this)"></button>
                            <button class="color-text-format-button color-btn" style="background-color: #003366"
                                onclick="changeColor('#003366', this)"></button>
                            <button class="color-text-format-button color-btn" style="background-color: #800080"
                                onclick="changeColor('#800080', this)"></button>
                            <button class="color-text-format-button color-btn" style="background-color: #c6ffb0"
                                onclick="changeColor('#c6ffb0', this)"></button>
                        </div>
                    </div>
                </div>
                <div class="button-container mt-2">
                    <span class="text-container">Cỡ chữ</span>
                    <div class="d-inline-block" style="width: 26rem">
                        <div class="d-flex justify-content-between">
                            <button class="text-format-button" onclick="changeFontSize(-1)"><i
                                    class="fa-solid fa-minus"></i></button>
                            <span class="text-container text-center d-inline-block fw-bold fs-5"><span
                                    id="font-size-display"></span></span>
                            <button class="text-format-button" onclick="changeFontSize(1)"><i
                                    class="fa-solid fa-plus"></i></button>
                        </div>
                    </div>
                </div>
                <div class="button-container mt-2">
                    <span class="text-container">Theme</span>
                    <div class="d-inline-block" style="width: 26rem">
                        <div class="d-flex justify-content-between">
                            <button class="background-color-button bg-color-btn" style="background-color: #202020"
                                onclick="changeBackgroundColor('#202020', this)"></button>
                            <button class="background-color-button bg-color-btn" style="background-color: #ffffff"
                                onclick="changeBackgroundColor('#ffffff', this)"></button>
                            <button class="background-color-button bg-color-btn" style="background-color: #99ccff"
                                onclick="changeBackgroundColor('#99ccff', this)"></button>
                            <button class="background-color-button bg-color-btn" style="background-color: #e6e6fa"
                                onclick="changeBackgroundColor('#e6e6fa', this)"></button>
                            <button class="background-color-button bg-color-btn" style="background-color: #003f00"
                                onclick="changeBackgroundColor('#003f00', this)"></button>
                        </div>
                    </div>
                </div>
                <div class="button-container mt-2">
                    <span class="text-container">Cách dòng</span>
                    <div class="d-inline-block" style="width: 26rem">
                        <div class="d-flex justify-content-between">
                            <button class="text-format-button" onclick="changeLineHeight(-1)"><i
                                    class="fa-solid fa-minus"></i></button>
                            <span class="text-container text-center d-inline-block fw-bold fs-5"><span
                                    id="row-spacing-display"></span></span>
                            <button class="text-format-button" onclick="changeLineHeight(1)"><i
                                    class="fa-solid fa-plus"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-6 main-container rounded">
            <div class="px-5 py-5 reading-font">
                <img src="/assets/loading.gif" class="load-img" />
            </div>
        </div>
        <div class="col-lg-1 col-md-2 col-sm-3 d-flex justify-content-end">
            {{!-- <button class="option-button">
                <i class="fa-solid fa-file-arrow-down fs-4"></i>
            </button> --}}
        </div>
    </div>
</div>
<div class="container rounded main-container my-4 px-4">
    <div class="row">
        <div class="d-flex align-items-center justify-content-center my-4">
            <a type="button"
                class="text-center next-pre-button pre-chapter-btn {{#ifEqual chapterIndex 0}}d-none{{/ifEqual}}"
                href="/story/{{encodeUrl storyId}}/chapter/{{plus chapterIndex -1}}">
                <i class="fa-solid fa-less-than"></i>
                Chương trước
            </a>
            <a type="button"
                class="text-center next-pre-button next-chapter-btn {{#ifEqual chapterIndex (plus chapterCount -1)}}d-none{{/ifEqual}}"
                href="/story/{{encodeUrl storyId}}/chapter/{{plus chapterIndex 1}}">
                Chương tiếp
                <i class="fa-solid fa-greater-than"></i>
            </a>
        </div>
    </div>
    <div class="row fw-bold mb-2">
        <nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/home">Home</a></li>
                &nbsp;<li class="mx-2">/</li>&nbsp;
                <li class="breadcrumb-item"><a href="/story/{{encodeUrl storyId}}">{{storyName}}</a>
                </li>
                &nbsp;<li class="mx-2">/</li>&nbsp;
                <li class="breadcrumb-item" aria-current="page">Chương {{plus chapterIndex 1}}</li>
            </ol>
        </nav>
    </div>
</div>
<script>
    let chapterContents = {{{ json chapterContents }}};
</script>