<div class="container min-vh-100">
    <div class="row">
        <div class="col-md-12 fs-5 mt-4 mb-2 notify-text fw-bold">
            <i class="fa-solid fa-flag pe-1"></i>
            Lịch sử đọc
        </div>
    </div>
    <div class="row mb-3">
        <div class="container-fluid">
            <div class="row">
                {{#each stories}}
                <div class="py-3 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12 p-relative">
                    <button class="btn history-delete-btn"
                        onclick="deleteHistory('{{storyId}}','{{storyServer}}')">x</button>
                    <a class="story-card-image" href="/story/{{encodeUrl storyId}}/s{{storyServer}}">
                        <img {{#if storyImageUrl}} src="{{storyImageUrl}}" {{else}} src="/assets/naimage.jpg" {{/if}}
                            alt="{{storyName}}" title="{{storyName}}" />
                    </a>
                    <a class="story-card-name text-center mt-2 mb-1 fw-bold truncate"
                        href="/story/{{encodeUrl storyId}}/s{{storyServer}}" title="{{storyName}}">
                        {{storyName}}
                    </a>
                    <a class="story-card-chapter text-center mt-1 mb-1 fw-bold truncate"
                        href="/story/{{encodeUrl storyId}}/s{{storyServer}}/chapter/{{chapterIndex}}"
                        title="{{chapterName}}">
                        Đọc tiếp {{chapterName}}
                    </a>
                </div>
                {{else}}
                <div class="fs-2 my-3">Chưa đọc truyện nào!</div>
                {{/each}}
            </div>
        </div>
    </div>
</div>