<div class="container h-100vh">
    <div class="row">
        <div class="col-md-12 fs-5 mt-4 mb-2 text-color-56ccf2 fw-bold">
            <i class="fa-solid fa-flag pe-1"></i>
            Kết quả tìm kiếm
        </div>
    </div>
    <div class="row mb-3">
        <div class="container-fluid">
            <div class="row">
                <div class="py-3 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
                    <img class="h-17dot5 border-white w-100 cursor-pointer" src="{{getUrlFromPath 'assets/logo.png'}}"
                        alt="Story Name Thumb" onclick="location.href='{{getUrlFromPath 'home'}}'" />
                    <div class="text-center mt-2 mb-1 fw-bold text-color-eeeeee cursor-pointer"
                        onclick="location.href='{{getUrlFromPath 'home'}}'">
                        Story name
                    </div>
                </div>
                <div class="py-3 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
                    <img class="h-17dot5 border-white w-100 cursor-pointer" src="{{getUrlFromPath 'assets/logo.png'}}"
                        alt="Story Name Thumb" onclick="location.href='{{getUrlFromPath 'home'}}'" />
                    <div class="text-center mt-2 mb-1 fw-bold text-color-eeeeee cursor-pointer"
                        onclick="location.href='{{getUrlFromPath 'home'}}'">
                        Story name
                    </div>
                </div>
                <div class="py-3 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
                    <img class="h-17dot5 border-white w-100 cursor-pointer" src="{{getUrlFromPath 'assets/logo.png'}}"
                        alt="Story Name Thumb" onclick="location.href='{{getUrlFromPath 'home'}}'" />
                    <div class="text-center mt-2 mb-1 fw-bold text-color-eeeeee cursor-pointer"
                        onclick="location.href='{{getUrlFromPath 'home'}}'">
                        Story name
                    </div>
                </div>
                <div class="py-3 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
                    <img class="h-17dot5 border-white w-100 cursor-pointer" src="{{getUrlFromPath 'assets/logo.png'}}"
                        alt="Story Name Thumb" onclick="location.href='{{getUrlFromPath 'home'}}'" />
                    <div class="text-center mt-2 mb-1 fw-bold text-color-eeeeee cursor-pointer"
                        onclick="location.href='{{getUrlFromPath 'home'}}'">
                        Story name
                    </div>
                </div>
                <div class="py-3 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
                    <img class="h-17dot5 border-white w-100 cursor-pointer" src="{{getUrlFromPath 'assets/logo.png'}}"
                        alt="Story Name Thumb" onclick="location.href='{{getUrlFromPath 'home'}}'" />
                    <div class="text-center mt-2 mb-1 fw-bold text-color-eeeeee cursor-pointer"
                        onclick="location.href='{{getUrlFromPath 'home'}}'">
                        Story name
                    </div>
                </div>
                <div class="py-3 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
                    <img class="h-17dot5 border-white w-100 cursor-pointer" src="{{getUrlFromPath 'assets/logo.png'}}"
                        alt="Story Name Thumb" onclick="location.href='{{getUrlFromPath 'home'}}'" />
                    <div class="text-center mt-2 mb-1 fw-bold text-color-eeeeee cursor-pointer"
                        onclick="location.href='{{getUrlFromPath 'home'}}'">
                        Story name
                    </div>
                </div>
                <div class="py-3 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
                    <img class="h-17dot5 border-white w-100 cursor-pointer" src="{{getUrlFromPath 'assets/logo.png'}}"
                        alt="Story Name Thumb" onclick="location.href='{{getUrlFromPath 'home'}}'" />
                    <div class="text-center mt-2 mb-1 fw-bold text-color-eeeeee cursor-pointer"
                        onclick="location.href='{{getUrlFromPath 'home'}}'">
                        Story name
                    </div>
                </div>
                <div class="py-3 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
                    <img class="h-17dot5 border-white w-100 cursor-pointer" src="{{getUrlFromPath 'assets/logo.png'}}"
                        alt="Story Name Thumb" onclick="location.href='{{getUrlFromPath 'home'}}'" />
                    <div class="text-center mt-2 mb-1 fw-bold text-color-eeeeee cursor-pointer"
                        onclick="location.href='{{getUrlFromPath 'home'}}'">
                        Story name
                    </div>
                </div>
                <div class="py-3 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
                    <img class="h-17dot5 border-white w-100 cursor-pointer" src="{{getUrlFromPath 'assets/logo.png'}}"
                        alt="Story Name Thumb" onclick="location.href='{{getUrlFromPath 'home'}}'" />
                    <div class="text-center mt-2 mb-1 fw-bold text-color-eeeeee cursor-pointer"
                        onclick="location.href='{{getUrlFromPath 'home'}}'">
                        Story name
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>