<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 fs-5 mt-4 mb-2 blue-font fw-bold">
                <i class="fa-solid fa-flag pe-1"></i>
                Kết quả tìm kiếm
            </div>
        </div>
        <div class="row mb-3">
            <div class="container-fluid">
                <div class="row">
                    <div class="m-0 py-3 col-md-2">
                        <img class="search-thumb" src="{{getUrlFromPath 'logo.png'}}" alt="Thumb" />
                        <div class="text-center mt-2 mb-1 fw-bold text-white-80">
                            hello
                        </div>
                    </div>
                    <div class="m-0 py-3 col-md-2">
                        <img class="search-thumb" src="{{getUrlFromPath 'logo.png'}}" alt="Thumb" />
                        <div class="text-center mt-2 mb-1 fw-bold text-white-80">
                            hello
                        </div>
                    </div>
                    <div class="m-0 py-3 col-md-2">
                        <img class="search-thumb" src="{{getUrlFromPath 'logo.png'}}" alt="Thumb" />
                        <div class="text-center mt-2 mb-1 fw-bold text-white-80">
                            hello
                        </div>
                    </div>
                    <div class="m-0 py-3 col-md-2">
                        <img class="search-thumb" src="{{getUrlFromPath 'logo.png'}}" alt="Thumb" />
                        <div class="text-center mt-2 mb-1 fw-bold text-white-80">
                            hello
                        </div>
                    </div>
                    <div class="m-0 py-3 col-md-2">
                        <img class="search-thumb" src="{{getUrlFromPath 'logo.png'}}" alt="Thumb" />
                        <div class="text-center mt-2 mb-1 fw-bold text-white-80">
                            hello
                        </div>
                    </div>
                    <div class="m-0 py-3 col-md-2">
                        <img class="search-thumb" src="{{getUrlFromPath 'logo.png'}}" alt="Thumb" />
                        <div class="text-center mt-2 mb-1 fw-bold text-white-80">
                            hello
                        </div>
                    </div>
                    <div class="m-0 py-3 col-md-2">
                        <img class="search-thumb" src="{{getUrlFromPath 'logo.png'}}" alt="Thumb" />
                        <div class="text-center mt-2 mb-1 fw-bold text-white-80">
                            hello
                        </div>
                    </div>
                    <div class="m-0 py-3 col-md-2">
                        <img class="search-thumb" src="{{getUrlFromPath 'logo.png'}}" alt="Thumb" />
                        <div class="text-center mt-2 mb-1 fw-bold text-white-80">
                            hello
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>