<div class="container rounded main-container min-vh-100 my-4 p-4">
    <div class="row fw-bold mb-2">
        <nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/home">Home</a></li>
                &nbsp;<li class="mx-2">/</li>&nbsp;
                <li class="breadcrumb-item" aria-current="page">{{name}}</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xxl-2 col-xl-3 col-md-12 col-sm-12 col-12 mb-4">
                    <div class="text-center">
                        <img id="story-image" {{#if imageUrl}} src="{{imageUrl}}" {{else}} src="/assets/naimage.jpg"
                            {{/if}} alt="{{name}}" />
                    </div>
                    <div class="mt-3 text-center">
                        <button type="button" class="btn fs-5" id="ebook-btn" data-bs-toggle="modal"
                            data-bs-target="#ebookModal">
                            XUẤT EBOOK
                        </button>
                    </div>
                </div>
                <div class="col-xxl-9 col-xl-8 col-md-12 col-sm-12 col-12 mt-0 ps-3 pe-0 mb-3" id="story-info">
                    <div class="fw-bold fs-3 pb-2">{{name}}</div>
                    <div class="container-fluid px-0">
                        <div class="row py-2">
                            <div class="col-md-3 fw-bold">
                                <i class="fa-solid fa-user"></i>
                                Tác giả
                            </div>
                            <a class="col-md-9 d-block" {{#if
                                author}}href="/author/{{author.name}}/s{{curServer.id}}?id={{encodeUrl author.id}}{{/if}}">
                                {{#if author}}{{author.name}}{{else}}n/a{{/if}}
                            </a>
                        </div>
                        <div class="row py-2">
                            <div class="col-md-3 fw-bold">
                                <i class="fa-solid fa-tower-broadcast"></i>
                                Trạng thái
                            </div>
                            <div class="col-md-9">
                                {{#if status}}{{status}}{{else}}n/a{{/if}}
                            </div>
                        </div>
                        <div class="row py-2">
                            <div class="col-md-3 fw-bold">
                                <i class="fa-solid fa-server"></i>
                                Nguồn
                            </div>
                            <div class="col-md-9">
                                {{#if curServer}}{{curServer.name}}{{else}}n/a{{/if}}
                            </div>
                        </div>
                        <div class="row py-2">
                            <div class="col-md-3 fw-bold">
                                <i class="fa-solid fa-tags"></i>
                                Thể loại
                            </div>
                            <div class="col-md-12 mt-2">
                                {{#each categories}}
                                <a type="button" class="category-tag rounded py-1 px-2 me-2"
                                    href="/category/{{this.name}}?id={{encodeUrl this.id}}">
                                    {{this.name}}
                                </a>
                                {{else}}
                                n/a
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid px-0 py-2">
                        {{#isDefined storyFirstIndex}}
                        <a type="button" class="rounded me-3 py-2 px-3 start-chapter-btn"
                            href="/story/{{encodeUrl id}}/s{{curServer.id}}/chapter/{{storyFirstIndex}}">
                            <i class="fa-solid fa-book-open"></i>
                            Đọc từ đầu
                        </a>
                        {{/isDefined}}
                        {{#isDefined storyFirstIndex}}
                        <a type="button" class="rounded me-3 py-2 px-3 latest-chapter-btn"
                            href="/story/{{encodeUrl id}}/s{{curServer.id}}/chapter/{{plus chapterCount -1}}">
                            <i class="fa-solid fa-book-open"></i>
                            Đọc mới nhất
                        </a>
                        {{/isDefined}}
                        {{#isDefined storyConIndex}}
                        <a type="button" class="rounded py-2 px-3 con-chapter-btn"
                            href="/story/{{encodeUrl id}}/s{{curServer.id}}/chapter/{{storyConIndex}}">
                            <i class="fa-solid fa-location-arrow"></i>
                            Đọc tiếp
                        </a>
                        {{/isDefined}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-2 fs-5">
        <div class="col-md-12 fw-bold">
            <i class="fa-solid fa-circle-info pe-1"></i>
            Giới thiệu
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-12 px-3">
            {{#if description}}{{{description}}}{{else}}n/a{{/if}}
        </div>
    </div>
    <div class="row mb-2 fs-5">
        <div class="fw-bold">
            <i class="fa-solid fa-database pe-1 fw-bold"></i>
            <span>Danh sách chương</span>
            <span class="ms-2 opacity-75 fst-italic">[{{chapterCount}} Chương]</span>
        </div>
    </div>
    <div class="row rounded mb-2 mx-0 py-3" id="chapters-container">
        {{#loop 1 chapterCount}}
        <a class="truncate" href="/story/{{encodeUrl ../storyId}}/s{{../curServer.id}}/chapter/{{plus this -1}}"
            title="Chương {{this}}">Chương {{this}}</a>
        {{/loop}}
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="ebookModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="ebook-header modal-header bg-color-primary">
                <h1 class="modal-title fs-5">Xuất ebook</h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="ebook-body modal-body">
                <div class="container-fluid text-dark">
                    <div class="row">
                        <div class="col-12">
                            <div class="mt-2">
                                <span class="fw-bold">Nguồn tiểu thuyết: </span>
                                <span>{{#if curServer}}{{curServer.name}}{{else}}n/a{{/if}}</span>
                            </div>
                            <div class="fw-bold my-2">Định dạng ebook: </div>
                            <div class="containter-fluid ebook-type-container">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ebook-footer modal-footer bg-success p-2 text-dark bg-opacity-10">
                <button type="button" class="btn btn-secondary" id="cancel-btn" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn bg-color-primary text-light" id="download-btn">Download</button>
            </div>
        </div>
    </div>
</div>
<script>
    const storyId = "{{ storyId }}";
    const curServer = {{{ json curServer }}};
    let unchangedServerId = "{{ curServer.id }}";
</script>