<div class="container border-rounded bg-color-202020 h-100vh my-4 p-4">
    <div class="row fw-bold">
        <nav style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb">
            <ol class="breadcrumb text-color-cccccc">
                <li class="breadcrumb-item"><a href="/home">Home</a></li>
                &ThinSpace;<li class="mx-2">/</li>&ThinSpace;
                <li class="breadcrumb-item" aria-current="page">{{name}}</li>
            </ol>
        </nav>
    </div>
    <div class="row mt-2">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xxl-3 col-xl-4 col-md-12 col-sm-12 col-12">
                    <div class="text-center">
                        <img class="border-white" id="story-image" {{#if imageUrl}} src="{{imageUrl}}" {{else}}
                            src="/assets/naimage.jpg" {{/if}} alt="{{name}}" />
                    </div>
                    <div class="mt-3 text-center">
                        <button type="button" class="btn btn-outline-light w-16dot875 fs-5 border-rectangle">
                            XUẤT EBOOK
                        </button>
                    </div>
                </div>
                <div class="col-xxl-9 col-xl-8 col-md-12 col-sm-12 col-12 mt-0 px-0" id="story-info">
                    <div class="fw-bold fs-3 pb-2">{{name}}</div>
                    <div class="container-fluid px-0">
                        <div class="row py-2">
                            <div class="col-md-3 fw-bold">
                                <i class="fa-solid fa-user"></i>
                                Tác giả
                            </div>
                            <div class="col-md-9 cursor-pointer" onclick="directTo('/author/{{author.name}}{{author.id}}')">
                                {{#if author}}{{author.name}}{{else}}n/a{{/if}}
                            </div>
                        </div>
                        <div class="row py-2">
                            <div class="col-md-3 fw-bold">
                                <i class="fa-solid fa-tower-broadcast"></i>
                                Trạng thái
                            </div>
                            <div class="col-md-9">
                                {{#if status}}{{status}}{{else}}n/a{{/if}}
                            </div>
                        </div>
                        <div class="row py-2">
                            <div class="col-md-3 fw-bold">
                                <i class="fa-solid fa-tags"></i>
                                Thể loại
                            </div>
                            <div class="col-md-12 mt-2">
                                {{#each categories}}
                                <button type="button" class="category-tag border-rounded py-1 px-2 me-2"
                                    onclick="directTo('/category/{{name}}{{id}}')">
                                    {{name}}
                                </button>
                                {{else}}
                                n/a
                                {{/each}}
                            </div>
                        </div>
                        <div class="row py-2">
                            <div class="col-md-12 fw-bold">
                                <i class="fa-solid fa-circle-info"></i>
                                Giới thiệu
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid px-0 pb-2">
                        <div class="row">
                            <div class="col-md-11">
                                {{#if description}}{{{description}}}{{else}}n/a{{/if}}
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid px-0 py-2">
                        {{#if firstIndex}}
                        <button type="button" class="rounded me-2 p-2 bg-color-a9cf54"
                            onclick="directTo('/story/{{encodeUrl id}}/{{firstIndex}}')">
                            <i class="fa-solid fa-book-open"></i>
                            Đọc từ đầu
                        </button>
                        {{/if}}
                        {{#if lastIndex}}
                        <button type="button" class="rounded mx-2 p-2 bg-color-8c3c4f"
                            onclick="directTo('/story/{{encodeUrl id}}/{{lastIndex}}')">
                            <i class="fa-solid fa-book-open"></i>
                            Đọc mới nhất
                        </button>
                        {{/if}}
                        <button type="button" class="rounded mx-2 p-2 bg-color-2090ce">
                            <i class="fa-solid fa-location-arrow"></i>
                            Đọc tiếp
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5" id="chapters-list">
        <div class="fw-bold">
            <i class="fa-solid fa-database pe-1"></i>
            Danh sách chương
            <span class="fst-italic text-white-50 col-md-9 ps-2">
                [{{totalChapters}} Chương]
            </span>
        </div>
    </div>
    <div class="row border-white rounded mx-0 mt-2 my-4 py-3 ps-5">
        <div id="flex-chapters-container">
            {{#each chapters}}
            <div class="cursor-pointer d-flex" onclick="directTo('/story/{{encodeUrl belong.id}}/{{index}}')"
                title="{{name}}">{{limitText name 45}}</div>
            {{/each}}
        </div>
        <div class="row mt-4 mb-2">
            <ul class="pagination d-flex align-items-center justify-content-center">
                <li></li>
                {{#ifNotEqual curPage 1}}
                <li class="page-item mx-2"><a class="page-link" href="/story/{{encodeUrl id}}#chapters-list"><i
                            class="fa-solid fa-backward-step"></i></a></li>
                <li class="page-item mx-2"><a class="page-link"
                        href="/story/{{encodeUrl id}}&page={{plus curPage -1}}#chapters-list"><i
                            class="fa-solid fa-chevron-left"></i></a></li>
                {{/ifNotEqual}}

                {{#genPagination curPage totalPages}}
                <li class="page-item mx-2">
                    <a class="page-link {{#ifEqual this ../curPage}}active{{/ifEqual}}"
                        href="/story/{{encodeUrl ../id}}?page={{this}}#chapters-list">{{this}}</a>
                </li>
                {{/genPagination}}

                {{#ifNotEqual curPage totalPages}}
                <li class="page-item mx-2"><a class="page-link"
                        href="/story/{{encodeUrl id}}?page={{plus curPage 1}}#chapters-list"><i
                            class="fa-solid fa-chevron-right"></i></a></li>
                <li class="page-item mx-2"><a class="page-link"
                        href="/story/{{encodeUrl id}}?page={{totalPages}}#chapters-list"><i
                            class="fa-solid fa-forward-step"></i></a></li>
                {{/ifNotEqual}}
                <li></li>
            </ul>
        </div>
    </div>
</div>