<div class="row mb-3">
    <div class="container-fluid">
        <div class="row">
            {{#each stories}}
            <div class="py-3 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
                <a class="story-card-image" href="/story/{{encodeUrl id}}/s{{../server}}">
                    <img {{#if imageUrl}} src="{{imageUrl}}" {{else}} src="/assets/naimage.jpg" {{/if}} alt="{{name}}"
                        title="{{name}}" />
                </a>
                <a class="story-card-name text-center mt-2 mb-1 fw-bold truncate"
                    href="/story/{{encodeUrl id}}/s{{../server}}" title="{{name}}">
                    {{name}}
                </a>
            </div>
            {{else}}
            <div class="fs-2 my-3 result-text">Không tìm thấy kết quả nào!</div>
            {{/each}}
        </div>
    </div>
</div>